body {
    background-color: #f2ebc8;
  }

h1 {
    color: #8ccce2;
    font-size: 40px;
    font-family: "bebas-kai", sans-serif;
   
  }
    
  h2 {
    color: #8ccce2;
    font-family: "bebas-kai", sans-serif;
    text-align:left;
    }

    h3 {
      color: #8ccce2;
      font-family: "bebas-kai", sans-serif;
      text-align:left;
      }

p {
        font-family: "bebas-kai", sans-serif;
        color: #caa86b;
        font-size: 20px;
        text-align:left;
    }

a:link, a:visited {
        background-color: #9bcc71;
        color: #ffffff;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "bebas-kai", sans-serif;
        font-size: 15px;
      }
      
      li {
        color: #FFFFFF;
      }
      
a:hover, a:active {
        background-color: #b9db9b;
      }


ul {
        list-style-type: circle;
        font-family: "bebas-kai", sans-serif;
      }
li{
    font-size: 20px;
        color: #ffffff;
        font-family: "bebas-kai", sans-serif;
}

.header {
        padding: 5px;
        text-align: center;
        background: #e6d891;
        color: #8ccce2;
        font-size: 30px;
      }

header {
  padding: 5px;
  text-align: center;
  background: #e6d891;
  color: #8ccce2;
  font-size: 30px;
}


.content {
  padding:20px;
}

table {
        font-family: "bebas-kai", sans-serif;
        border-collapse: collapse;
        width: 70%;
        color: #ffffff;
        font-size: 22px;
      }
      
td, th {
        border: 1px solid #ffffff;
        text-align: left;
        padding: 8px;
      }
        
th{
              height: 50px;
                text-align: center;
              text-transform: uppercase;
              color: #ffffff;
            }
      
tr:nth-child(even){
              background-color: #caa86b;
              color: #ffffff;}
              tr:nth-child(odd){
        background-color: #caa86b;
        color: #ffffff;
      }

aside {
        width: 50%;
        margin-left: 3rem;
        padding-left: .5rem;
        float: right;
        box-shadow: inset 5px 0 5px -5px #caa86b;
        font-style: italic;
        color: #caa86b;
      }
      
      aside > p {
        margin: 0.5rem;
      }



.footer {
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
       padding: 10px;
        background-color: #e6d891;
        color: #ffffff;
        text-align: center;
     }


footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
 padding: 10px;
  background-color: #e6d891;
  color: #ffffff;
  text-align: center;
}


.navbar {
  background-color: #e6d891;
  padding: 15px 15px;
  color: #ffffff;
}

.navbar:hover {
  background-color: #b9db9b;
}


img{
  width: 90%
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

form{
  font-family: "bebas-kai", sans-serif;
}

